body {
  margin: 0;
 
}

.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  float: right;
}

.pagination > li {
  display: inline-block;
  background-color: #fff;
  
}

.pagination > li > a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  
}

.pagination > li > a:hover:not(.active) {
  background-color: #35CBD5;
  border-radius: 5px;
}.custommloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #35CBD5;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}.dots-5 {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: d5 1s infinite linear alternate;
}
@keyframes d5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}